@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="wrapper">
    <header>Загрузить файл</header>
    <form method="post" enctype="multipart/form-data">
        <input type="file" class="input-file" asp-for="UploadFile" hidden />
        <input type="submit" id="btnUpload" value="Upload" asp-page-handler="Upload" hidden />
        <i class="bi bi-file-earmark-arrow-up"></i>
        <p> Загрузить файл</p>
    </form>

    <section class="results">
        @if (Model.Result != null)
        {
            var iconStyle = "";
            var iconType = "";
            var visibilityState = "";
            var empStyle = "";
            foreach (var contact in Model.Result)
            {
                @if (contact.IsSuccess == false)
                {
                    iconStyle = "color:red;";
                    iconType = "bi bi-x-circle";
                    visibilityState = "visibility: visible;";
                    empStyle = "";
                }
                else
                {
                    iconStyle = "color:green";
                    iconType = "bi bi-check-circle";
                    visibilityState = "visibility: collapse;";
                    empStyle = "margin-top: 7px;";
                }

                var employeePayment = contact.Employee+"_payment";

                <li class="row">
                    <i style="@iconStyle" class="@iconType"></i>
                    <div class="details">
                        <span class="employee" style="@empStyle">@contact.Employee</span>
                        <span class="error" style="@visibilityState">@contact.Error</span>
                    </div>
                    <div class="addition">
                        <input hidden="hidden" type="text" value="@contact.Payroll" id="@employeePayment">
                        <input hidden="hidden" type="text" value="@contact.Employee" id="@contact.Employee">
                        <button class="copy" onclick="myFunction('@contact.Employee', '@employeePayment')">Выписка</button>
                    </div>
                </li>
            }
        }
    </section>
</div>

<script>
    function myFunction(emp, empPayment) {
      // Get the text field
      var payment = document.getElementById(empPayment);
      var employee = document.getElementById(emp);
      console.log(payment.value)

      // Select the text field

      payment.select();
      payment.setSelectionRange(0, 99999); // For mobile devices

      // Copy the text inside the text field
      navigator.clipboard.writeText(payment.value);

      // Alert the copied text
      alert("Скопирована выписка для : " + employee.value);
    }
</script>

<script>
    const form = document.querySelector("form");
    fileInput = form.querySelector(".input-file");

    form.addEventListener("click", ()=> {
        fileInput.click();
    });

    fileInput.onchange = () =>{
        document.getElementById("btnUpload").click();
    }
</script>

<h1>@Model.Error</h1>

